Ignora a pasta de dependências (o que causa a lentidão)

node_modules/

Ignora o ficheiro de chaves secretas (o risco de segurança)


Ignora logs de crash do Node

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Ficheiros de sistema (macOS)

.DS_Store
.env